body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
  margin: 0;
  background-color: rgba(173, 216, 230, 0.9); /* Light blue with transparency */
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  position: relative;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

label {
  font-size: 15px;
}

textarea {
  width: 100%; /* Full width to match button */
  height: 50px; /* Set a fixed height */
  margin-top: 10px;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #007bff;
  border-radius: 5px;
  resize: none; /* Prevent resizing */
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  margin: 5px 0; /* Vertical spacing between buttons */
}

button:hover {
  background-color: #0056b3;
}

#menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #007bff;
}

.hidden {
  display: none;
}

#history-table {
  width: 100%;
  border-collapse: collapse;
}

#history-table th, #history-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#history-table th {
  background-color: #007bff;
  color: white;
}

.menu-item {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #0056b3;
}

.back-button {
  margin-top: 20px;
  background-color: #6c757d;
}

#symbol-percentage, #number-percentage {
  width: 100%;
}
